<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='./css/Cadastro.css')}}">
    <link rel="icon" href="static/img/logocps.png" type="image/x-icon">
    <title>Cadastro</title>
    <style>

.msg{
    position: absolute;
    top: 84vh;
    color: green;
    font-size: 1.3vw;
    left: 16vw;
}
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#loading img {
    width: 100px;
}

.msgerror{
    position: absolute;
    top: 84vh;
    color: red;
    font-size: 1.3vw;
    left: 16vw;
}

    </style>
</head>
<body>
    <a href="{{ url_for('/') }}"><img src="static/img/casa.png" class="casa" alt=""></a>
    <p class="home">INÍCIO</p>
<div class="container">
 
    <div class="content first-content">
        <div class="first-column">

    
    <div class="register-container">
        <div class="register-form">
            <label for="codigo etec"></label>

            
            <div class="barra">
                <h2>Bem Vindo De Volta</h2>
                <p class="description description-primary">Clique no ícone para acessar a conta</p>
                <a href="{{ url_for('Login') }}"><img src="static/img/cs.png" class="cs" alt="Uoou Solutions"></a></img>
            </div>
            <br>
            <br>
      
            <form action="/submit" method="post" class="formposition">
            <h1>Cadastro</h1>
            <br>
            Preencha as informações abaixo para cadastrar no sistema.
            <br>
            <img src="static/img/logocps.png" class="etec" alt="Uoou Solutions">
            
            
     
                  <br>
                    <input type="text" name="RM" placeholder="RM" class="RM" required>
                   <br>
                        <div class="textbox">
                        <input class="Password" name="NovaSenha" id="password1" type="Password" placeholder="Nova Senha" required >
                        <img  src="{{url_for('static', path='/img/eye-closed.png')}}" width="1vw" height="3vh" id="toggleEye1" class="eye1" onclick="togglePassword1()">
                        </div>
                          <br>
                        <div class="textbox">
                        <input class="Password" name="Password" id="password2" type="Password" placeholder="Confirmar Senha" required >
                        <img  src="{{url_for('static', path='/img/eye-closed.png')}}"  id="toggleEye2" class="eye2" onclick="togglePassword2()">
                        </div>
                        <br>
                            <select name="codetec" id="codetec"  required>
                                <option value="" disabled selected>CÓDIGO ETEC</option>
                                <option value=088>088</option>
                                <option value=073>073</option>
                                <option value=091>091</option>
                                <option value=012>012</option>
                                <option value=086>085</option>
                                <option value=062>062</option>
                                <option value=090>090</option>
                            </select>
                            <br> <br>
                            <br>
                    <button class="btn btn-second">Cadastrar</button>
            </form>
            {%if msg %}
            <p class="msg">{{ msg }}</p>
            {%endif%}

            {%if mensagem %}
            <p class="msgerror">{{ mensagem }}</p>
            {%endif%}

        </div>
        <div class="image-section"></div>
    </div>
</div>

<script>

      


    function togglePassword1() {
        var passwordField = document.getElementById('password1');
        var toggleEye = document.getElementById('toggleEye1');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleEye.src = "{{url_for('static', path='/img/eye-open.png')}}";
        } else {
            passwordField.type = "password";
            toggleEye.src = "{{url_for('static', path='/img/eye-closed.png')}}";
        }
    }
    function togglePassword2() {
        var passwordField = document.getElementById('password2');
        var toggleEye = document.getElementById('toggleEye2');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleEye.src = "{{url_for('static', path='/img/eye-open.png')}}";
        } else {
            passwordField.type = "password";
            toggleEye.src = "{{url_for('static', path='/img/eye-closed.png')}}";
        }
    }
    setTimeout(function() {
        const msgElement = document.querySelector('.msg');
        const msgerror = document.querySelector('.msgerror');
        if (msgElement) {
            msgElement.textContent = ''; // Limpa a mensagem
        }
        if (msgerror) {
            msgerror.textContent = ''; // Limpa a mensagem
        }

        
    }, 2000); 
    history.pushState(null, null, location.href);
    window.addEventListener('popstate', function (event) {
        // Sempre empurra o estado atual para bloquear o retorno
        history.pushState(null, null, location.href);
    });
</script>
</body>
</html>
